# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

SBM-Dead-Mans-Satchel\.txt

output/

changelog\.html

CompiledWith\.txt
